global
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    server backend-1 backend-1:3001 check fall 2 rise 1
    server backend-2 backend-2:3002 check fall 2 rise 1

